@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  line-height: 1; }

a {
  text-decoration: none;
  font-size: 100%;
  background: transparent;
  color: inherit; }

ol, ul {
  list-style: none; }

button,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  border: none;
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block; }

:root {
  --primary-red: hsl(1, 90%, 64%);
  --primary-blue: hsl(219, 85%, 26%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-very-light-grayish-blue: hsl(210, 60%, 98%);
  --neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
  --neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
  --neutral-grayish-blue: hsl(219, 14%, 63%);
  --neutral-dark-grayish-blue: hsl(219, 12%, 42%);
  --neutral-very-dark-blue: hsl(224, 21%, 14%);
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  /* Jakarta Medium (500) */
  --font-weight-jakarta-medium: 500;
  /* Jakarta ExtraBold (800) */
  --font-weight-jakarta-extrabold: 800; }

body {
  font-family: var(--font-plus-jakarta);
  display: grid;
  place-content: center;
  font-size: 16px;
  background-color: var(--neutral-light-grayish-blue-2); }
  body main {
    background-color: var(--neutral-white); }

#notificationsTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  #notificationsTitle p {
    font-weight: var(--font-weight-jakarta-extrabold); }
  #notificationsTitle #notificationsCount {
    background-color: var(--primary-blue);
    color: var(--neutral-white);
    padding: 2px 6px 2px 6px;
    border-radius: 20%;
    margin-left: 3px; }
  #notificationsTitle #markAsAllRead {
    color: var(--neutral-dark-grayish-blue);
    font-weight: var(--font-weight-jakarta-medium); }
  #notificationsTitle #markAsAllRead:hover {
    cursor: pointer;
    color: var(--primary-blue); }

#notificationsBody {
  display: flex;
  flex-direction: column;
  padding: 8px;
  row-gap: 10px; }
  #notificationsBody .notification:nth-child(-n+3) {
    background-color: var(--neutral-very-light-grayish-blue);
    border-radius: 10px; }
  #notificationsBody .notification {
    display: flex;
    margin: 5px; }
    #notificationsBody .notification img {
      width: 40px;
      height: 40px;
      margin: 10px; }
    #notificationsBody .notification .notificationDescription {
      color: var(--neutral-dark-grayish-blue);
      padding: 5px 18px 0px 5px;
      display: flex;
      flex-grow: 1;
      flex-direction: column; }
      #notificationsBody .notification .notificationDescription p {
        font-size: 14px; }
        #notificationsBody .notification .notificationDescription p span {
          color: black;
          font-weight: var(--font-weight-jakarta-extrabold);
          margin-right: 5px; }
        #notificationsBody .notification .notificationDescription p span:hover {
          cursor: pointer;
          color: var(--primary-blue); }
      #notificationsBody .notification .notificationDescription .circleUnreadNotif1 {
        background-color: var(--primary-red);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        right: 92px;
        top: 74px; }
      #notificationsBody .notification .notificationDescription .circleUnreadNotif2 {
        background-color: var(--primary-red);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        right: 106px;
        top: 140px; }
      #notificationsBody .notification .notificationDescription .circleUnreadNotif3 {
        background-color: var(--primary-red);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        right: 165px;
        top: 235px; }
      #notificationsBody .notification .notificationDescription small {
        color: var(--neutral-grayish-blue);
        font-weight: var(--font-weight-jakarta-medium);
        margin: 3px; }
      #notificationsBody .notification .notificationDescription .notificationMessage {
        border: solid 1px;
        border-radius: 5px;
        border-color: var(--neutral-light-grayish-blue-1);
        text-align: left;
        margin: 5px;
        padding: 10px;
        font-size: 12px;
        color: var(--neutral-dark-grayish-bluegrayish-blue);
        letter-spacing: 1px;
        line-height: 1.2; }
      #notificationsBody .notification .notificationDescription .notificationMessage:hover {
        cursor: pointer;
        background-color: var(--neutral-light-grayish-blue-2); }
      #notificationsBody .notification .notificationDescription p .group {
        color: var(--primary-blue); }
      #notificationsBody .notification .notificationDescription p .post {
        color: var(--neutral-dark-grayish-bluegrayish-blue);
        font-weight: var(--font-weight-jakarta-extrabold); }
    #notificationsBody .notification .pictureCommented {
      margin-right: 35px; }
    #notificationsBody .notification .pictureCommented {
      cursor: pointer; }

@media (min-width: 1440px) {
  main {
    width: 70%;
    margin: 50px auto; }
  #notificationsBody .notification .notificationDescription .circleUnreadNotif1 {
    background-color: var(--primary-red);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 565px;
    top: 110px; }
  #notificationsBody .notification .notificationDescription .circleUnreadNotif2 {
    background-color: var(--primary-red);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 832px;
    top: 191px; }
  #notificationsBody .notification .notificationDescription .circleUnreadNotif3 {
    background-color: var(--primary-red);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 665px;
    top: 271px; }
  #notificationsBody .notification .notificationDescription .notificationMessage {
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--neutral-light-grayish-blue-1);
    text-align: left;
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    color: var(--neutral-dark-grayish-bluegrayish-blue);
    letter-spacing: 1px;
    line-height: 1.2;
    width: 70%; } }
