@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

@import "./scss/base/reset";

:root {
  // Primary Colors
--primary-red: hsl(1, 90%, 64%);
--primary-blue: hsl(219, 85%, 26%);

// Neutral Colors
--neutral-white: hsl(0, 0%, 100%);
--neutral-very-light-grayish-blue: hsl(210, 60%, 98%);
--neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
--neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
--neutral-grayish-blue: hsl(219, 14%, 63%);
--neutral-dark-grayish-blue: hsl(219, 12%, 42%);
--neutral-very-dark-blue: hsl(224, 21%, 14%);

// Fonts 
--font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
/* Jakarta Medium (500) */
--font-weight-jakarta-medium: 500;
/* Jakarta ExtraBold (800) */
--font-weight-jakarta-extrabold: 800;
}

body {
  font-family: var(--font-plus-jakarta);
  display: grid;
  place-content: center;
  font-size: 16px;
}

#notificationsTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
  p {
    font-weight: var(--font-weight-jakarta-extrabold);
  }
  #notificationsCount {
    background-color: var(--primary-blue);
    color: var(--neutral-white);
    padding: 2px 6px 2px 6px;
    border-radius: 20%;
    margin-left:3px
  }

  #markAsAllRead {
    color: var(--neutral-dark-grayish-blue);
    font-weight: var(--font-weight-jakarta-medium)
  }
  #markAsAllRead:hover {
    cursor: pointer;
    color: var(--primary-blue);
  }
}

#notificationsBody {
  display: flex;
  flex-direction: column;
  padding: 8px;
  row-gap: 10px;

  .notification {
    display: flex;
    //height: 50px;
    margin: 5px;
    img {
      width: 40px;
      height: 40px;
      margin: 10px
    }

    .notificationDescription {
      color:var(--neutral-dark-grayish-blue);
      padding: 5px 18px 0px 5px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      p {
        font-size: 14px;
        span {
        color: black;
        font-weight: var(--font-weight-jakarta-extrabold);
        margin-right: 5px;
        }
        span:hover {
        cursor: pointer;
        color: var(--primary-blue)
        }
      }
      small {
        color:var(--neutral-grayish-blue);
        font-weight: var(--font-weight-jakarta-medium);
        margin: 3px;
      }
      .notificationMessage {
        border: solid 1px;
        border-radius: 5px;
        border-color: var(--neutral-light-grayish-blue-2);
        text-align: left;
        margin: 5px;
        padding: 10px;
        font-size: 12px;
        color: var(--neutral-dark-grayish-bluegrayish-blue);
      }
      .notificationMessage:hover{
        cursor: pointer;
        background-color: var(--neutral-light-grayish-blue-2);
      }
      p .group {
        color: var(--primary-blue);
      }
      p .post {
        color: var(--neutral-dark-grayish-bluegrayish-blue);
        font-weight:var(--font-weight-jakarta-extrabold);
      }
    }
  .pictureCommented {
        margin-right: 35px;
      }
  .pictureCommented {
  cursor: pointer;
      }
    }
}